:root {
    --cor-de-fundo: #9AFF9A;
    --cor-da-escrita: #000000;
    --verde:#008B45;

}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    color: var(--cor-da-escrita);
}

.Zoro {
    display: flex;
     background-color: var(--verde);
     flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

#texto{
    color: forestgreen;
}


.contagem{
    background-color: #32CD32;
    padding: 20px 0;
    text-align: center;
}

.objetivo{
    padding: 20px;
    font-size: 18px;
}


.ativo{
    background-color: antiquewhite;
    color: #000000;
}